[alias]
    ignored = !git ls-files -v | grep "^[[:lower:]]" # list ignored files with git update-index --assume-unchanged
    override = !git add -u && git commit --amend --no-edit && git push origin $(git branch --show-current) -f
    edit = !git commit --amend
    empty = !git commit -m 'trigger build' --allow-empty
    l = log --oneline
    s = status
    ss = status --short
[core]
	editor = vim
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
	autocrlf = input
[status]
	branch = true
[branch]
  # show most recentely changed branches first
  sort = -committerdate
[user]
	email = ablil@proton.me
	name = ablil
[init]
	defaultBranch = main
	templateDir = ~/.git-templates
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
