[alias]
    ignored = !git ls-files -v | grep "^[[:lower:]]" # list ignored files with git update-index --assume-unchanged
[core]
	editor = vim
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
	autocrlf = input
[status]
	branch = true
[branch]
  # show most recentely changed branches first
  sort = -committerdate
[user]
	email = ablil@protonmail.com
	name = ablil
[init]
	defaultBranch = main
	templateDir = ~/.git-templates
