[user]
	email = ablil@protonmail.com
	name = ablil
[alias]
    recommit = commit --amend --no-edit
    l = log --oneline 
    s = status -s
    a = add
    c = commit
    cm = commit -m
    i = init
    d = diff
[credential]
	helper = store
[core]
	editor = vi
	excludesfile = /dotfiles/.gitignore_global
