{
  "env": {
    "browser": true
  },
  "extends": [
    "prettier"
  ],
  "rules": {
    "max-len": "error",
    "max-params": ["error", 3],
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used" }],
    "no-unused-private-class-members": "warn",
    "camelcase": "error",
    "complexity": ["error", 5],
    "default-case": "error",
    "eqeqeq": "error",
    "no-console": "warn",
    "no-empty": "error",
    "no-var": "error",
    "no-duplicate-imports": "error"
  },
  "overrides": [
    {
      "files": ["{src,pages,components}/**/*.{js,jsx,ts,tsx}"]
    }
  ]
}
