source ~/.vimrc

set incsearch
set rnu
set surround

" PLugins
Plug 'machakann/vim-highlightedyank'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
map t <Action>(KJumpAction.Word0)
map T <Action>(RunClass)
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)

map <leader>r <Action>(RenameElement)
map <leader>t <Action>(GotoTest)
map <leader>s <Action>(FileStructurePopup)
map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)

" conte
map <leader>n <Action>(GotoClass)
map <leader>f <Action>(GotoFile)
map <leader>a <Action>(GotoAction)
map <leader>x <Action>(GotoSymbol)
map <leader>e <Action>(RecentFiles)
map <leader>\ <Action>(ActivateTerminalToolWindow)


" Find more examples here: https://jb.gg/share-ideavimrc
set ideajoin