# shell aliases
alias du0="du -d 0 -h"
alias la="ls -a"
alias ll="ls -l"
alias rmr="rm -rf"
alias vi=vim
alias please=sudo
alias xpath='xmllint --xpath'
alias grep='grep -P'

# one character alias
alias g=git
alias s=sudo
alias v=vi
alias l=ls
alias p=python3
alias b=bash

# ip
alias ip="ip -c"
alias ipb="ip -c -br"

# prettier
alias jsonpretty="python3 -mjson.tool"
alias xmlpretty="xmllint --format -"


# Quick shortcut
alias sysupdate="sudo dnf -y update && sudo dnf -y autoremove && sudo dnf -y remove --oldinstallonly"
alias con="ping -c 2 google.com"
