# navigation
alias ..="cd .."
alias ...="cd ../../"
alias doc="cd ~/Documents"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# ls
alias l="ls -l -a"
alias la="ls -a"
alias ll="ls -l"

# one character
alias d=docker
alias g=git
alias v=vim
alias p=python3
alias s=sudo
alias b=bash

alias dc=docker-compose
