#!/bin/bash

function mk() {
  mkdir $1 && cd $1
}

function mkfile() {
  f_dirname=$(dirname $1)
  if [[ ! -d $f_dirname ]]; then
    mkdir -p $f_dirname
  fi
  touch $1
}

function mkgit() {
  mkdir $1 && cd $1 && git init && touch .gitignore && git config --local credential.helper store
}
